<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Utility">
        <plugin name="MagePal_LimitGuestCheckoutCoupon::PluginUtility" type="MagePal\LimitGuestCheckoutCoupon\Plugin\PluginUtility" sortOrder="50" />
    </type>
</config>